/* Template created by tcse-cms.com | Author: Vitaly V. Chuyakov | URL: http://tcse-cms.com */


/*fix модальных окон jQueryUI*/
.modal {
	z-index: 1050;
}
.ui-dialog {
	z-index: 2000 !important;
}

/*скрыть панель ББкода в модальном окне добавления комментария*/
.bb-pane {
	display: none;
}


/* Выравнивание блоков по 3 в ряд */
#dle-content .short-news:nth-of-type(3n+1) { clear: both; }
.wp-caption {max-width: 100%;}
.full-content img {
	max-width: 100%;
	display: inline;
}

.header-logo {
	padding: 10px 0;
}

/* Подвал */
.bg-grey {
	background-color: #2e2f3b;
	color: #eaeaeb;
}
.bg-grey a {
	color: #fff;
	text-decoration: none;
}
.bg-grey a:hover {
	color: #eaeaeb;
	text-decoration: underline;
}

/* Правки для разной ширины экрана */
@media (max-width:  640px) {
	.header-logo {
		text-align: center;
	}
	.full-content img {
		max-width: 100%;
		display: block;
	}
}

@media (min-width: 1200px) {

	.short-news .panel {
		border: 0px solid transparent; 
	}

}
