<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="alert alert-warning alert-dismissable">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h2>{title}</h2>
			<strong>{error}</strong>
		</div>
	</div>
</div>
