<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<meta content="text/html; charset={charset}" http-equiv="Content-Type" />
<style type="text/css">
body{ 
	font: 12px/16px Arial, Helvetica, Tahoma, sans-serif;
	margin: 0; padding: 0;
	color: #1f282c; word-wrap: break-word;
}
a { color: #fff; text-decoration: underline; }
a:hover { text-decoration: none; }
.errorwrap { margin: 0 auto; width: 600px; margin-top: 26%; text-align: center; }
.errorwrap p { margin: 0 0 15px 0; }

</style>
<title>Сайт временно отключен</title>
</head>
<body>
<div align="center" class="errorwrap">
	<p><img src="{THEME}/images/logotype.png" alt="DataLife Engine - Softnews media group" /></p>
	<p>{reason}</p>
</div>
</body>
</html>